*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  padding: 50px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border: 0.5px solid black;
  border-radius: 10px;
}
.about{
  
  text-align: center;
  color: #333;
  padding: 10px;
  font-size: 50px;
}
.info{
  padding: 5px;
  
}

